*{
    padding: 0px;
    margin: 0px;
    color: white;
}
#navbar {
    height: 60px;
    background-color: #0f1111;
    border: 2px solid white;
}
#logo {
    font-size: 25px;
    color: yellow;
}
#b {
    background-color: #f08804;
    color: white;
}

a {
    margin-right: 200px;
    text-decoration: none;
}
 
input {
    color: black;
}

.contentbox {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;

}

#content {
    height: 500px;
}

